
@{
    ViewBag.Title = "FuncionesBasicas";
}

<h2>Funciones Basicas</h2>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://i.ibb.co/g4K1QRr/user.png" alt="...">
            <div class="caption">
                <h3>Registrar usuario</h3>
                <p><a href="/Empleado/Index" class="btn btn-primary" role="button">Dirigirme</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://i.ibb.co/SPSZ5x1/userE.jpg" alt="...">
            <div class="caption">
                <h3>Registrar la salida de algún usuario</h3>
                <p><a href="/Salida/Index" class="btn btn-primary" role="button">Dirigirme</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://i.ibb.co/P40JPwQ/cargo.jpg" alt="...">
            <div class="caption">
                <h3>Registrar cargos</h3>
                <p><a href="/Cargo/Index" class="btn btn-primary" role="button">Dirigirme</a></p>
            </div>
        </div>
    </div>
</div>



