@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div align="center">
        <img src="https://i.ibb.co/V22rKQg/crear-empresa.png" alt="crear-empresa" border="0">
    </div>
    <h1>Tenshi</h1>
    <p class="lead">あなたがこれを読むのなら、あなたはとても、とても好奇心旺盛な人だからです。 好奇心が猫を殺した</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Funciones básicas: </h2>
        <p>
            Registrar usuario, registrar la salida de algún usuario, registrar cargos.
        </p>
        <p><a class="btn btn-default" href="/Home/FuncionesBasicas">Show more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mantenimiento:</h2>
        <p>Departamentos, vacaciones, permisos.</p>
        <p><a class="btn btn-default" href="/Home/Mantenimiento">Show more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Otros:</h2>
        <p>Licencia, nomina.</p>
        <p><a class="btn btn-default" href="/Home/Otros">Show more &raquo;</a></p>
    </div>
</div>