
@{
    ViewBag.Title = "Mantenimiento";
}

<h2>Mantenimiento</h2>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://i.ibb.co/7b3sxJK/3.jpg" alt="3" border="0">
            <div class="caption">
                <h3>Departamentos</h3>
                <p><a href="/Departamento/Index" class="btn btn-primary" role="button">Dirigirme</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://i.ibb.co/pwB3QcR/1.jpg" alt="1" border="0">
            <div class="caption">
                <h3>Vacaciones registradas</h3>
                <p><a href="/Vacaciones/Index" class="btn btn-primary" role="button">Dirigirme</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://i.ibb.co/37DVNKY/2.jpg" alt="2" border="0">
            <div class="caption">
                <h3>Permisos aprobados</h3>
                <p><a href="/Permiso/Index" class="btn btn-primary" role="button">Dirigirme</a></p>
            </div>
        </div>
    </div>
</div>