
@{
    ViewBag.Title = "Otros";
}

<h2>Otros</h2>

<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://i.ibb.co/NnwRHTQ/2.jpg" alt="2" border="0">
            <div class="caption">
                <h3>Licencia</h3>
                <p><a href="/Licencia/Index" class="btn btn-primary" role="button">Dirigirme</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <img src="https://i.ibb.co/GVPr64q/1.jpg" alt="1" border="0">
            <div class="caption">
                <h3>Nomina</h3>
                <p><a href="/Nomina/Index" class="btn btn-primary" role="button">Dirigirme</a></p>
            </div>
        </div>
    </div>
</div>
